h1, header{
  text-align: center;
  font-size: 32px;
  font-weight: normal;
}

header{
  font-weight: bold;
}

p{
  text-align: justify;
  padding-top: 10px;
}

body{
  margin: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

main{
  display: block;
}

code{
  background-color:#2e3440ff;
  text-align: left;
  font-style: italic;
  padding: 5px 5px;
  width: 100%
}

pre{
  background-color: rgb(145, 140, 140);
  text-align: left;
  font-style: normal;
  padding: 5px 5px;
  width: 100%;
  font-weight: bold;
}


div code {
  display: block;
}

div{
  text-align: center;
  padding: 10px 10px;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgb(35, 48, 83);
  background-color: rgb(35, 48, 83);
}

#navbar li {
  color: white;
  border-top: 1px solid rgb(11, 22, 53);
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar ul {
  height: 88%;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#navbar a:hover{
  background-color: rgb(13, 48, 146);
}

#navbar a:active{
  background-color: rgb(9, 23, 60);
}

#navbar header {
  color: white;
  background-color: rgb(2,110,0);
  margin: 0;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  width: 63vw;
}

@media(min-width: 1100px){
  #main-doc {
    width: 73vw;
  }
}

@media(max-width: 900px){
  #navbar {
    min-width: 190px;
    width: 33%;
  }

  #main-doc {
    margin-left: 34%;
    overflow: hidden;
  }
}
@media(max-width: 580px){
  #navbar {
    display: none;
  }
  #main-doc{
    margin: 10px 10px;
    padding: 0;
    width:90%;
  }
}
