<!DOCTYPE html>
<link rel="stylesheet" href="/styles.css">
<html>
    <head>
        <title id="title">Tribute Page</title>
    </head>
    <body>
        <main id="main">
            <div id="img-div">
                <img id="image" src="https://wallpaperaccess.com/full/9391729.jpg" alt="XG">
                <figcaption id="img-caption">XG</figcaption>
            </div>
            <div class="titulos">
                <h1>Acerca de</h1>
                <hr>
            </div>
            <div class="container">
                    <div id="tribute-info">
                        <p class="justificado">XG (acrónimo de Xtraordinary Girls) es un grupo femenino japonés formado por XGALX,
                            una subsidiaria de la compañía Avex Inc. Está compuesto por siete integrantes: 
                            Harvey, Cocona, Chisa, Jurin, Juria, Hinata, Maya. 
                            Debutó el 18 de marzo de 2022 con el lanzamiento del sencillo digital "Tippy Toes".
                        </p>
                        <p class="justificado">
                            El nombre oficial de su fanclub es "ALPHAZ"
                            porque es la palabra para líder de la manada de lobos, es decir, que las chicas quieren generar un movimiento 
                            alrededor del mundo con los fans, pensando por su cuenta y sin preocuparse por los estereotipos para que así cada 
                            uno pueda ser un líder junto a XG, su genero es Hip-Hop, R&B, Pop.
                        </p>
                        <p class="justificado">
                            Un detalle curioso es que Hikaru (8va miembra) forma parte de XG pero no fue presentada porque actualmente promociona 
                            con Kep1er y no podrá debutar a la par de sus compañeras. Hikaru se integraría a XG hasta 2024, año en que Kep1er termina su contrato.
                        </p>
                    </div>
                <div class="img1">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/220701_XG_Music_Bank_%283%29.jpg/450px-220701_XG_Music_Bank_%283%29.jpg" alt="Imagen 1">
                </div>
                <div class="img3">
                    <img src="https://i.pinimg.com/736x/52/f8/2b/52f82bc1fe72b98d538a16d9b95ade8b.jpg" alt="Imagen 2">
                </div>
                <div class="img2">
                    <img src="https://kpopping.com/documents/86/1/4000/220720-XG-Twitter-Update-Chisa-Hinata-Jurin-documents-1.jpeg?v=26dfc" alt="Imagen 3">
                </div>
            </div> 
            <div class="titulos">
                <h1>Discografía</h1>
                <hr>
            </div>
            <div class="discografia">
                <div>
                    <img src="https://img.imageimg.net/artist/xg/img/product_1035705.jpg" alt="NEW DNA"> 
                </div>
                <div>
                    <img src="https://img.imageimg.net/artist/xg/img/product_1035619.jpg" alt="GRL GVNG">
                </div>
                <div>
                    <img src="https://img.imageimg.net/artist/xg/img/product_1035124.jpg" alt="SHOOTING STAR">
                </div>
                <div>
                    <img src="https://i.scdn.co/image/ab67616d0000b273d8bb914644898de5012dedf3" alt="MASCARA">
                </div>
                <div>
                    <img src="https://i.scdn.co/image/ab67616d0000b273a7efce1f94f7e575674c95fe" alt="Tippy Toes">
                </div>
            </div>
            <div class="tribute-link">
                <a id="tribute-link" href="https://es.wikipedia.org/wiki/XG" target="_blank"><button>Learn More</button></a>
            </div>
        </main>
    </body>
</html>